//Custom less file
//This is where most of the added css went that wasn't include in the theme and wasn't javascript generated

//Change gradient color
header {
    //image was provided (and taken) by Elise!
    background: url("../img/IMG_3857.jpg");
    /*background: url("../img/bg-pattern.png"), @original-secondary; /* fallback for old browsers */
    /*background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, @original-secondary , @original-tertiary); /* Chrome 10-25, Safari 5.1-6 */
    /*background: url("../img/bg-pattern.png"), linear-gradient(to left, @original-secondary , @original-tertiary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.cta{
  background-image:  url("../img/IMG_3272.jpg");
  padding: 50px 0px 150px 0px;
}

section{
  padding: 50px 0;
}

#myprofileH{
  color: black;
}

p#headerText{
  font-size: 200%;
  font-weight: none;
}

.section-heading#dt-section{
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  margin-left: 10%;
}

p#dtTitle{
  font-size: 200%;
  font-family: 'Lato';
  margin: 2% 0 2% 7%;
}

p#dtText{
  font-family: 'Lato';
  margin-left: 7%;

}

p#dtCite{
  font-size: 80%;
  margin: 5% 0;
  float:right;

}

p#myactivityHeader{
  margin-top: 5%;
}

#graphpie{
  margin-right: 6%;
}
